<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV File</title>
</head>
<body>
    <h1>Upload CSV File </h1>
    <form action="upload" enctype="multipart/form-data" method="POST">
        <label for="myCsvFile">Upload CSV file : </label>
        <input id="myCsvFile" type="file" name="myCsvFile" accept=".csv"><br>
        <button type="submit">Uplaod File</button>
    </form>
</body>
</html>